#!jinja2
{%- set projectName = 'skeleton' %}
{%- set projectDir  = 'skeleton' %}
{%- set miniappFlag = True %}
{%- set fix_enums = False %}
{%- set appDiagStemName = 'diagSkeleton' %}
{%- set rdef_precision = "64" %}
{%- set mesh_rdef_precision = "64" %}

{%- set application_configurations = { 'skeleton' : ['default'] } %}

{%- set canned_configurations  = ['skeleton'] %}

{%- set groups = {
'developer': [
    'validate_rose_meta_graph("skeleton")',
    'check_style_graph()',
    'api_documentation_graph(publish=True)',
    'run_application("skeleton", "default", resolutions=[("C24",)])',
    'check_compilers("skeleton", "default", "fast-debug", resolution=("C24",))',
    'check_compilers("skeleton", "default", "full-debug", resolution=("C24",))',
    'canned_test("skeleton")'],
'nightly': [
    'null_task_graph()'] } %}

#########################################################################################

{# Include any local miniapp include files here #}
%include inc/MyMiniappIncludeFile.rc
